
.vs/
x64/
Library/
Debug/
Release/
Temp/
build/VEngine_DLL.dll
build/VEngine_Compute.dll
*.lnk
**/*.exp
**/*.iobj
**/*.ipdb
**/*.pdb
**/*.ilk
**/*.lib
**/*.users
**/*.user
**/*.exe
**/*.vcxproj
*.csproj
__pycache__/