
.vs/
x64/
Library/
UserSettings/
Debug/
Logs/
bin/
obj/
Release/
Temp/
build/VEngine_DLL.dll
build/VEngine_Compute.dll
build/VEngine_Network.dll
build/Yaml_CPP.dll
*.lnk
**/*.exp
**/*.iobj
**/*.ipdb
**/*.pdb
**/*.ilk
**/*.lib
**/*.exe
**/*.vcxproj
*.cache
__pycache__/
build/VEngine_Database.dll
build/VEngine_Unity.dll
